.row.form-group
  .col-md-2
    %h2 Leads per day graph
  .col-md-9.choose-range
    = t('reports.choose_range')
    %input.graph-date-range
    #leads_per_day

.row.form-group
  .col-md-2
    %h2 Leads
  .col-md-12
    = t('reports.choose_range')
    %input.table-date-range

.lead-table.col-md-12
  = render 'leads'


:javascript
  $(function () {
      LeadStatisticGraph.show( #{@leads_per_day} );
  });

  $(document).ready(function () {
    DatePicker.initializeForGraph();
    DatePicker.initializeForLeads();
  });
  Pagination.initialize();